<div class="bg">
  <p>SPLI <br><br>
    TTER
  </p>
  <div class="container">
    <div class="left">
      <app-bill (billVal)="handleBill($event)" [amount]="amount"></app-bill>
      <br>
      <app-tip-selector (btnVal)="handleEmit($event)"></app-tip-selector>
      <br>
      <app-people-selector (pNumVal)="handlePnum($event)" [pNum]="pNum"></app-people-selector>
    </div>

    <div class="right">
      <div class="card-container">
        <app-display-card [amount]="tipAmount" label="Tip Amount" [pNum]="pNum"></app-display-card>
        <app-display-card [amount]="total" label="Total" [pNum]="pNum"></app-display-card>
      </div>
      <app-btn text="Reset" className="tip-secondary" (reset)="handleReset($event)" ></app-btn>
    </div>
  </div>
</div>